# Database
DB_NAME=threaleact
DB_USERNAME=threaleact
DB_PASSWORD=
DB_ROOT_PASSWORD=

# JWT
JWT_SECRET=

# GitHub OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Mail (AWS SES)
MAIL_HOST=email-smtp.ap-northeast-2.amazonaws.com
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=

# Frontend
FRONTEND_URL=

# AWS S3 & CloudFront
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=ap-northeast-2
AWS_S3_BUCKET=
AWS_CLOUDFRONT_DOMAIN=

# Sentry
SENTRY_DSN=
